<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>serve</title>
    <!-- load local stylesheet (css) -->
    <link rel="stylesheet" href="/styles.css" />
    <!-- loading jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body class="recipe" >

<h1>SERVE</h1>

<!-- FOOD IMAGES AT THIS PATH: data/food-ingredients-and-recipe-dataset-with-images/versions/1/food-images/Food\ Images/ -->

<!-- ADD NAV BAR -->

<!-- ADD SEARCH BAR  -->
<div class="search-container">
    <span>
        <form> 
            <input type="search" id="recipe-search" placeholder="search for a recipe..." />
        </form>
    </span>
    <span>
        <button class="filter-btn">filter</button>
    </span>
</span>
</div>


<!-- ADD FILTER OPTIONS -->
<!-- <span id="filter">
    <button>filter</button>
</span> -->

<div class="card-container">
    
    <% recipes.forEach( (recipe) => {  %>
        <span class="recipeCard">
            <h1 class="recipe-text"> <%= recipe.title %> </h1>
            <p class="recipe-text"><%= recipe.imageName %> </p>
            <!-- <p class="recipe-text"> <%= recipe.ingredients %> </p> -->
            <p class="recipe-text"> <%= recipe.instructions %> </p>
        </span>
    <% }) %>
</div>

    <!-- load local js -->
    <script src="/main.js"></script>
</body>
</html>